@model Person

@{
	ViewBag.Title = "Create Person";
}

<h1>@ViewBag.Title</h1>
<form method="post">
	<partial name="CreateEditPartial" model="Model"/> <!-- Hier wordt de partial view aangeroepen , Person doorgeven --> 
	<a asp-action="Index" class="btn btn-secondary">Back</a>
	<button type="submit" class="btn btn-primary">Edit</button>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}
